<div class="container mt-5">
  <div class="card">
    <!-- Quiz header -->
    <div class="d-flex justify-content-between p-3">
      <div class="image">
        <img
          src="https://img.icons8.com/color/96/000000/angularjs.png"
          width="80"
          alt="logo"
        />
      </div>
      <div class="quiz-header">
        <h4 style="font-family: cursive">Angular & TypeScript Quiz!</h4>
        <span style="font-style: italic">Welcome {{ name }}</span>
      </div>
    </div>

    <!-- quiz headers data -->
    <div class="d-flex justify-content-around p-3">
      <div id="score">
        <h5>{{ score }} points</h5>
      </div>
      <div id="question-remain">
        <span style="font-style: italic"
          >Question {{ currentQuestion + 1 }} of {{ questionList.length }}</span
        >
      </div>
      <div id="timer">
        <h5>{{ clock_tick }} sec ⏱</h5>
      </div>
    </div>

    <!-- progress bar -->
    <div
      class="progress mb-3"
      role="progressbar"
      aria-label="Success striped example"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar progress-bar-striped bg-success"
        style="width: 25%"
      ></div>
    </div>

    <!-- questions -->
    <div class="question">
      <div class="card">
        <h3>{{ questionList[currentQuestion]?.questionText }}</h3>
      </div>
    </div>

    <!-- answers -->
    <div class="options">
      <ol>
        <li
          *ngFor="let option of questionList[currentQuestion]?.options"
          (click)="chooseAnswer(currentQuestion, option)"
          #answer
        >
          <div class="card">{{ option.text }}</div>
        </li>
      </ol>
    </div>

    <!-- controls -->
    <div class="d-flex justify-content-between">
      <button
        class="btn"
        [disabled]="currentQuestion <= 0"
        (click)="prevQuestion()"
      >
        <i class="fa fa-chevron-left text-primary fa-3x" aria-hidden="true"></i>
      </button>

      <button class="btn">
        <i class="fa fa-refresh text-primary fa-3x" aria-hidden="true"></i>
      </button>

      <button
        class="btn"
        [disabled]="currentQuestion === questionList.length - 1"
        (click)="nextQuestion()"
      >
        <i
          class="fa fa-chevron-right text-primary fa-3x"
          aria-hidden="true"
        ></i>
      </button>
    </div>
  </div>
</div>
